<div> 
  <mat-toolbar class="mat-elevation-z5" color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <span>Расписание МГТУ Станкин</span>
    <span class="spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        
      </div>
    </mat-sidenav>
    <mat-sidenav-content fullscreen fxFlexFill>
      <app-schedule-daily></app-schedule-daily>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>